* {
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: default;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: gray;
}

/* 전체를 감싸는 div */
#body {
  max-width: 700px;
  margin: auto;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 위치 정보 */
#top {
  padding: 2vh 1.5vw;
  display: flex;
  /* flex 임시 */
}

/* 날씨 정보 */
#weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#weatherInfo #weatherIcon {
  width: 200px;
  height: 200px;
}

#weatherInfo #weatherIcon img {
  width: 200px;
  height: 200px;
}

#weatherInfo #temp {
  align-self: center;
  display: flex;
  position: relative;
}

#weatherInfo #temp h1 {
  font-size: 100px;
}

#weatherInfo #temp i {
  position: absolute;
  font-size: 35px;
  top: 10px;
  right: -50px;
}

/* 옷 정보 */
#clothes {
  height: 50vh;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clothes h1 {
  font-size: 300px;
}

/* 온도정보 */
#tempinfo {
  width: 100%;
}
#tempinfo #timeTemp {
  display: flex;
  margin: 15px 50px;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px 0;
}

#tempinfo #timeTemp div {
  text-align: center;
}
