* {
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: default;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

body {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-color: gray;
  overflow: hidden;
}

/* 전체를 감싸는 div */
#body {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}

/* 위치 정보 */
#top {
  padding: 0 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex 임시 */
}

#top i {
  font-size: 30px;
}

#cityChoiceHidden{
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
  overflow: auto;
  display: none;
}

#cityChoice {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 180%;
}

#cityChoice button {
  width: 90%;
  border: none;
  height: 5%;
  font-size: 18px;
  background-color: blue;
  border-radius: 10px;
  color: white;
}

/* 날씨 정보 */
#weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#weatherInfo #weatherIcon {
  width: 200px;
  height: 200px;
}

#weatherInfo #weatherIcon img {
  width: 200px;
  height: 200px;
}

#weatherInfo #temp {
  align-self: center;
  display: flex;
  position: relative;
}

#weatherInfo #temp h1 {
  font-size: 100px;
}

#weatherInfo #temp i {
  position: absolute;
  font-size: 35px;
  top: 10px;
  right: -50px;
}

/* 옷 정보 */
#clothes {
  height: 50vh;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clothes h1 {
  font-size: 300px;
}

/* 온도정보 */
#tempinfo {
  width: 100%;
}

#timeTemp {
  display: flex;
  margin: 15px 50px;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px 0;
}

#timeTemp div {
  text-align: center;
}

/* 서브페이지 */
#subPageTimeTemp, #subPageNowWeather {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

#subPageTimeTemp #test {
  width: 100vw;
  height: 100vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: white;
}

#subPageTimeTemp #test #testX {
  width: 100px;
  height: 20px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

#subPageTimeTemp #test .hourTemphidden {
  overflow: hidden;
  width: calc((100% / 13) * 12);
  margin: 0 calc((100% / 13) / 2);
  height: 15%;
}
  
  /* 시간별 온도 */
  #subPageTimeTemp #hourTemp {
    display: flex;
    height: 100%;
    width: calc(100% * 4);
    position: relative;
    right: 0px;
    transition: 0.5s;
  }

  #subPageTimeTemp #hourTemp div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #subPageTimeTemp #hourTempChart {
    position: absolute;
    top: 20px;
  }

  #subPageTimeTemp #hourTemp div article {
    height: 40px;
    margin-top: 20px;
    position: relative;
  }

  #subPageTimeTemp #hourTemp div article .point {
    width:2px;
    height:2px;
    position: absolute;
    left: calc(50% - 1px)
  }

  #subPageTimeTemp #hourTemp div article .point p {
    position: absolute;
    top: -22px;
    transform: translate(-50%);
    font-size: 14px;
  }

  #subPageTimeTemp #hourTemp div img {
    width: 100%;
  }

  #subPageTimeTemp #hourTemp .box {
    border: 1px solid black;
    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
  }

  #subPageTimeTemp #hourTempNext {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 35px;
    right: 0;
  }

  #subPageTimeTemp #hourTempPrev {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 35px;
    left: 0;
    display: none;
  }

  /* 주간 온도 */
  #subPageTimeTemp #weekTemp {
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-around;
  }

  #subPageTimeTemp #weekTemp article {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: calc(100% / 8);
  }

  #subPageTimeTemp #weekTemp article div:nth-child(1), #subPageTimeTemp #weekTemp article div:nth-child(4) {
    width: 10%;
  } 

  #subPageTimeTemp #weekTemp article div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
  }

  #subPageTimeTemp #weekTemp article div:nth-child(3) i {
    color: blue;
  }

  #subPageTimeTemp #weekTemp article img {
    height: 100%;
  }


/* 현재 날씨 */
#subPageNowWeather #nowWeather {
  width: 100%;
  height: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: white;
}

#subPageNowWeather #nowWeather .testX {
  width: 100px;
  height: 20px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

#subPageNowWeather #nowWeather #maxminTemp {
  display: flex;
  justify-content: space-around;
}

  #subPageNowWeather #nowWeather #maxminTemp div {
    display: flex;
    position: relative;
  }

  #subPageNowWeather #nowWeather #maxminTemp h1 {
    font-size: 100px;
  }

  #subPageNowWeather #nowWeather #maxminTemp i {
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: -50px;
  }

    #subPageNowWeather #nowWeather #maxminTemp div:nth-child(1) h1{
      color: red;
    }
    
    #subPageNowWeather #nowWeather #maxminTemp div:nth-child(2) h1{
      color: blue;
    }

  #subPageNowWeather #nowWeather #windHumidity {
    display: flex;
    justify-content: space-around;
  }

    #subPageNowWeather #nowWeather #windHumidity div {
      display: flex;
      text-align: center;
      align-items: center;
    }
    #subPageNowWeather #nowWeather #windHumidity i {
      margin-right: 5px;
    }

  #subPageNowWeather #nowWeather #sunTime {
    display: flex;
    justify-content: space-around;
  }

  #subPageNowWeather #nowWeather #optionInfo > div {
    text-align: center;
  }

  #subPageNowWeather #nowWeather #optionInfo .hourDrop {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }