* {
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: default;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: gray;
}

/* 전체를 감싸는 div */
#body {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 위치 정보 */
#top {
  padding: 0 1.5vw;
  display: flex;
  /* flex 임시 */
}

/* 날씨 정보 */
#weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#weatherInfo #weatherIcon {
  width: 200px;
  height: 200px;
}

#weatherInfo #weatherIcon img {
  width: 200px;
  height: 200px;
}

#weatherInfo #temp {
  align-self: center;
  display: flex;
  position: relative;
}

#weatherInfo #temp h1 {
  font-size: 100px;
}

#weatherInfo #temp i {
  position: absolute;
  font-size: 35px;
  top: 10px;
  right: -50px;
}

/* 옷 정보 */
#clothes {
  height: 50vh;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clothes h1 {
  font-size: 300px;
}

/* 온도정보 */
#tempinfo {
  width: 100%;
}
#tempinfo #timeTemp {
  display: flex;
  margin: 15px 50px;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 20px;
  padding: 15px 0;
}

#tempinfo #timeTemp div {
  text-align: center;
}

/* 서브페이지 */
#subPage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

#subPage #test {
  width: 100vw;
  height: 100vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;

  background-color: white;

  overflow: hidden;
}

#subPage #test #testX {
  width: 100px;
  height: 20px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

#subPage #hourTemp {
  display: flex;
  margin-left: 20px;
  width: 4800px;

  position: relative;
  right: 0px;

  transition: 0.5s;
}

#subPage #hourTemp div {
  width: 80px;
  text-align: center;
}

#subPage #hourTemp div img {
  width: 50px;
}

#subPage #hourTemp .box {
  border: 1px solid black;
  border-radius: 50px;
  width: 50px;
  margin: auto;
}

#subPage #hourTempNext {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 35px;
  right: 0;
}

#subPage #weekTemp {
  display: flex;
  flex-direction: column;
}

#subPage #weekTemp article {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 30px;
}
